<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user=sqladmin;password=sqladmin;Data Source=52L4RQ2;Initial Catalog=CoreSite_core;Integrated Security=False" />
  <add name="master" connectionString="user=sqladmin;password=sqladmin;Data Source=52L4RQ2;Initial Catalog=CoreSite_master;Integrated Security=False" />
  <add name="web" connectionString="user=sqladmin;password=sqladmin;Data Source=52L4RQ2;Initial Catalog=CoreSite_web;Integrated Security=False" />
  <add name="analytics" connectionString="mongodb://localhost:27017/CoreSite_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/CoreSite_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/CoreSite_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/CoreSite_tracking_contact" />
  <add name="reporting" connectionString="user=sqladmin;password=sqladmin;Data Source=52L4RQ2;Initial Catalog=CoreSite_reporting;Integrated Security=False" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>